<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <input type="text" name="searchbox" value="" [(ngModel)]="searchval" />

  <!-- <select name="searchsrc" id="searchsrc">
    <option selected="selected" value="hackerearth">HackerEarth</option>
    <option value="wiki">Wiki</option>
  </select> -->

  <select name="source" [(ngModel)]="searchsrclist.active">
    <option *ngFor="let item of searchsrclist.sources" [value]="item">{{item}}</option>
  </select>

  <button (click)="hitSearch()">Search</button>

  <div *ngIf="formattedhitresults.length>0" style="text-align:center">
    <table>
      <tr *ngFor="let row of formattedhitresults ;trackBy: index">
        <td>
          <a href="{{row.url}}">{{row.title}}</a>
        </td>
        <td>{{row.author}}
        </td>
        <td>{{row.count}}</td>
      </tr>
    </table>

  </div>

  <div *ngIf="wikiresults.length>0" style="text-align:center">
    <table>
      <tr *ngFor="let row of wikiresults">
        <td>
         {{row}}
        </td>
      </tr>
    </table>

  </div>

</div>